
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0a0a0a 0%, #1a1a1a 100%);
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}

.brand-title {
  font-size: 5rem; 
  font-weight: bold;
  background: linear-gradient(90deg, #f31010, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-title{
  font-size: 3rem;
}

/********** Form Section **********/

.login-container {
  max-width: 1100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 12px;
  overflow: hidden;
}

.login-form-section {
  background: none;
  border: none;
  box-shadow: none;
  padding: 40px; 
}

.register-section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-image {
  max-width: 80%;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 30px;
}

.input-label {
  display: block;
  margin-bottom: 8px; 
  color: rgb(255, 252, 252);
  font-weight: 500;
}

/**********Icons**********/
.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 18px;
  pointer-events: none;
}

.input-field.with-icon {
  padding-left: 40px; 
}

.input-field {
  border-radius: 7px;
  height: 50px;
  width: 90%;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(36, 36, 36);
  padding: 0 10px;
  font-size: 1rem;
}

.input-field:focus {
  outline: none;
  border-color: #be1717;
  box-shadow: 0 0 0 2px rgba(190, 23, 23, 0.3);
}

.input-field::placeholder {
  color: gray;
}

/**********BUTTON SECTION**********/

.login-button {
  width: 60%;
  height: 50px;
  background: linear-gradient(90deg, #680606, #be1717); 
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(48, 23, 46, 0.3);
  margin-top: 20px;
}

.login-button:hover {
  background: linear-gradient(90deg, #000000, #701212);
  transform: translateY(-2px); 
}

.login-button:active {
  transform: scale(0.98);
}


.register-button {
  width: 60%;
  height: 50px;
   background: linear-gradient(90deg, #680606, #be1717);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 7px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(48, 23, 46, 0.3);
}

.register-button:hover {
  background: linear-gradient(90deg, #000000, #123370);
  transform: translateY(-2px); 
  box-shadow: 0 4px 10px rgba(158, 5, 5, 0.3);
}

.register-button:active {
  transform: scale(0.98);
}